// Misc. Variables
$radius: 6px;
$radius--btn: 3px;
$avatar-margin: 14px;

// Palette
$black: #161616;
$white: #F5F5F5;
$lightgray: #f3f3f3;
$gray: #686868;
$mediumgray: #c5c5c5;
$line: #dddddd;
$main: #5200FF;

// Add fonts
@font-face {
    font-family: 'Halvetica';
    src: url('~@/assets/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'HalveticaMed';
    src: url('~@/assets/fonts/Helvetica-Med.ttf') format('truetype');
}

// Global styles
body{
    background: $white;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 170px 0 0 0;
    color: #141414;
    font-family: "Halvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
}

.home, .login, .profile{
    width: 55%;
    margin: 0 auto;
}

// Titles
h1{
    font-family: 'HalveticaMed', sans-serif;
}

// Links
a{
    color: $main;
    text-decoration: none;
}

// Paragraphs
p{
    font-size: 0.9em;
    line-height: 1.3em;
}

// Buttons
.button, button{
    font-family: 'Halvetica', sans-serif;
    padding: 0px;
    padding-top: 0.3em;
    cursor: pointer;
    border: none;
    border-radius: $radius--btn;
    transition: background-color 0.5s;
}

.button{
    padding: 15px 30px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        width: 13px;
        margin-right: 10px;
    }
}

.button--main{
    color: $lightgray;
    background-size: 100% auto!important;
    background: linear-gradient(240deg, #FF0000 -26.06%, #4317f5 51.71%, #FFCD9E 103.78%);
    transition: 0.3s;
}

.button--main:hover{
    background-color: darken($main, 10%);
    background-position: left center;
    background-size: 180% auto!important;
}

.button--white{
    background-color: $lightgray;
}

.button--white:hover{
    background-color: darken($lightgray, 10%);
}

.button--black{
    color: $white;
    background-color: $black;
}

.button--black:hover{
    color: $white;
    background-color: lighten($black, 15%);
}

.button--lined{
    background-color: transparent;
    border: 1px solid $mediumgray;
    color: $black;
}

// Wrappers
.button-wrapper{
    display: flex;
    flex-direction: row;
    button:nth-child(1){
        margin-right: 10px;
    }
}


// Styling sections
.section-header{
    font-size: 1.2em;
    color: $black;
    font-family: 'HalveticaMed', sans-serif;
}

// Other
span{
    color: $gray;
}

// Global component styles
.flying-wrapper{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.062);
}

// Avatar containers
.avatar-cont--small{
    width: 24px;
    height: 24px;
}

.avatar-cont--big{
    width: 40px;
    height: 40px;
}