// Misc. Variables
$radius: 6px;
$radius--btn: 4px;

// Palette
$black: #161616;
$lightgray: #f3f3f3;
$main: #003ada;

// Add fonts
@font-face {
    font-family: 'Swiss';
    src: url('/assets/fonts/halvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'SwissMed';
    src: url('/assets/fonts/halvetica-bold.ttf') format('truetype');
}

// Global styles
body{
    background: #F5F5F5;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    color: #141414;
    font-family: "Swiss", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Titles
h1{
    font-family: "SwissMed", sans-serif;
    font-weight: 600;
}

// Buttons
.button, button{
    font-family: "Swiss", sans-serif;
    padding: 0px;
    line-height: 1.6em;
    padding-top: 0.3em;
    cursor: pointer;
    border: none;
    border-radius: $radius--btn;
    transition: background-color 0.5s;
}

.button{
    padding: 10px 30px 7px;
}

.button--main{
    color: $lightgray;
    background: linear-gradient(240deg, #FF0000 -26.06%, #6742FB 51.71%, #FFCD9E 103.78%);
}

.button--main:hover{
    background-color: darken($main, 10%);
}

.button--white{
    background-color: $lightgray;
}

.button--white:hover{
    background-color: darken($lightgray, 10%);
}

// Wrappers
.button-wrapper{
    display: flex;
    flex-direction: row;
    button:nth-child(1){
        margin-right: 10px;
    }
}

// Icons
.insta-logo{
    height: 28px;
}


// Other
span{
    color: #8d8d8d;
}

// Global component styles
.flying-wrapper{
    box-shadow: 0 20px 30px #ebebeb;
}